<div class="container_footer">
    <ul class="footer">
        <div class="adresse">
            <li class="text">Adresse
                Coordonée GPS :
                2V7F+RH, 35380 Paimpont
                Direction Prélan-le-grand
            </li>
        </div>
        <div classe="avis">
            <li class="text">Avis Clients</li>
                <button class="btn">Cliquez ici</button>
        </div>
        <div class="horaires">
            <li class="text">Horaires
                Lundi au Vendredi 
                08H00 à 16H00
                amedi et dimanche 
                08H00 à 20H00
            </li>
        </div>
        <div class="formulaire">
            <li class="text">Formulaire de contact</li>
                <button class="btn">Cliquez ici</button>
        </div>
        <li class="text_copyrhigt">2024 © Zoo d’Arcadia. Tous droits réservés.</li>
    </ul>
</div>