<img class="baniere-recompense" src="..\assets\Baniere ECF\banière nos récompense 1.png" alt="baniere recompense">
<h2 class="titre-recompense">Nos récompense</h2>
<p class="texte-recompense">
    Membre actif des grandes institutions zoologiques mondiales, nous contribuons à la conservation ex-situ en accueillant de nombreuses espèces menacées faisant l’objet d’un Programme Ex-situ de l’EAZA (EEP) ou d’un Studbook Européen (ESB). Ces programmes d’élevage visent à conserver la diversité génétique des espèces en vue de leur potentielle réintroduction dans la nature ou pour le renforcement des populations subsistantes.
 os atouts écologiques
    Si notre philosophie s’est tournée vers les enjeux de conservation de la biodiversité dans le monde, nous nous engageons également dans un fonctionnement écologique cohérent au niveau local, valide par l’obtention de labels et certificats.
    Norme environnementale ISO 14001:le zoo d’Arcadia est le 1er zoo français privé certifié par cette norme internationale !
    «Refuge LPO» : le zoo d’Arcadia est le premier zoo classé par la Ligue pour la Protection des Oiseaux !
    Marque «Valeurs Parc Naturel Régional» attribuée par le Parc Naturel Régional Loire-Anjou-Touraine. Reposant sur un large panel de critères d’éligibilité elle est attribuée à des professionnels du tourisme exemplaires qui ont à cœur de faire découvrir leur patrimoine avec générosité et sensibilité, dans le respect de l’environnement… et du visiteur !
    Charte du Numérique Responsablede l’INR : le zoo d’Arcadia est le premier parc zoologique signataire de cette charte qui marque notre engagement vers une démarche Numérique Responsable !
</p>
<div class="slider" id="slider3">
    <div class="slide active">
        <img src="..\assets\images\récompense\image9.jpg" alt="">
    </div>
    <div class="slide active">
        <img src="..\assets\images\récompense\image10.jpg" alt="">
    </div>
    <div class="slide active">
        <img src="..\assets\images\récompense\image11.jpg" alt="">
    </div>
    <div class="slide active">
        <img src="..\assets\images\récompense\image12.jpg" alt="">
    </div>
    <div class="slider-buttons">
        <button class="prev-btn">&#8249;</button>
        <button class="next-btn">&#8250;</button>
    </div>
</div>
