<div>
    <img class="logo-histoire" src="logo\logo.jpg" alt="logo du site">
        <h2 class="titre-histoire">Histoire du zoo</h2>
    <img class="baniere-histoire" src="..\assets\Baniere ECF\Banière nos éspece.png" alt="Deux Loup blanc">
</div>
    <div class="histoire-du-zoo">
    <p>
        Voici l'histoire de la création du Parc Zoologique d'Arcadia, situé au cœur de la forêt de Brocéliande en Bretagne :
        En 1960, un groupe de passionnés de la nature et de la préservation de la faune sauvage a décidé de fonder un parc zoologique unique en son genre, niché au cœur de la légendaire forêt de Brocéliande. Fascinés par la beauté et la magie de cette région bretonne, ils ont choisi d'implanter leur projet dans cet écrin forestier verdoyant, à l'abri des regards.
        Le Parc Zoologique d'Arcadia est né de leur volonté de créer un sanctuaire pour les espèces animales menacées, tout en offrant aux visiteurs une immersion dans un environnement naturel préservé. Ils ont travaillé avec les autorités locales et les experts en écologie pour concevoir des enclos et des habitats respectant au mieux les besoins des pensionnaires du parc.
        Peu à peu, les premiers animaux sont arrivés : des loups, des cerfs, des sangliers, des rapaces... Tous trouvaient ici un refuge paisible, loin de la pression humaine. Le parc s'est ensuite enrichi de nombreuses autres espèces, devenant un véritable écosystème miniature au cœur de la forêt de Brocéliande.
        Aujourd'hui, le Parc Zoologique d'Arcadia est reconnu pour son approche innovante de la conservation de la nature. Ses visiteurs peuvent déambuler au plus près des animaux, tout en apprenant sur leurs comportements et leurs habitats naturels. Le parc joue également un rôle essentiel dans les programmes de réintroduction d'espèces menacées.
        Ancré dans la tradition légendaire de la forêt de Brocéliande, le Parc Zoologique d'Arcadia poursuit sa mission de préservation de la biodiversité, tout en offrant une expérience magique et inoubliable à ses visiteurs.
    </p>
</div>
<div class="slider" id="slider1">
    <div class="slide ">
        <img src="..\assets\images\image1.jpg" alt="">
    </div>
    <div class="slide active">
        <img src="..\assets\images\image2.jpg" alt="">
    </div>
    <div class="slide ">
        <img src="..\assets\images\image3.jpg" alt="">
    </div>
    <div class="slide ">
        <img src="..\assets\images\image4.jpg" alt="">
    </div>
    <div class="slider-buttons">
        <button class="prev-btn">&#8249;</button>
        <button class="next-btn">&#8250;</button>
    </div>
</div>

<script src="index.js"></script>

