<img class="baniere-bureau" src="..\assets\images\bureau d'étude\bureau d'étude1.jpg" alt="baniere bureau d'étude">
    <h2 class="titre-bureau">Notre bureau d'étude :</h2>
        <p class="texte-bureau">
            Études, conseil, conception, assistance, vente
            Spécialisé dans le milieu des parcs zoologiques, le Bureau d’Études du zoo d’Arcadia propose ses services pour la conception et la réalisation de volières en France et à l’étranger.
            Contact : Johanna Gay Constant
            Les volières
            Nos références :
            Arcadia (France) : Volière sud-américaine – 1 hectare
            Arcadia (France) : Sanctuaire des okapis – 4 000 m2
            Arcadia (France) : Volière africaine – 2 000 m2
            Arcadia (France) : Volière européenne – 900 m2
            Le filet acier inoxydable
            Après avoir expérimenté ces produits dans nos parcs zoologiques, nous vous les proposons à des tarifs attractifs.
            Notre filet en acier inoxydable tissé mains, présentant une large gamme de mailles et d’épaisseur de fil, est la solution idéale pour présenter toutes les espèces d’oiseaux, de primates et carnivores.
            Cette solution combine également une sécurité optimale et esthétisme sur le long terme. Nous travaillons en direct avec l’usine de production et contrôlons la qualité du produit, les délais de confection pour ainsi vous proposer au meilleur prix ce filet unique.
            Les «cordes lianes»
            Idéale pour volières, vivarium, îles à primates, décoration intérieure/extérieure. Constituée d’une corde polypropylène recouverte de latex acrylique siliconé, fibres et colorants naturels.
            Notre bureau d’études propose deux modèles.
        </p>
        <div class="slider" id="slider4">
            <div class="slide active">
                <img src="..\assets\images\bureau d'étude\image5.jpg" alt="">
            </div>
            <div class="slide active">
                <img src="..\assets\images\bureau d'étude\image6.jpg" alt="">
            </div>
            <div class="slide active">
                <img src="..\assets\images\bureau d'étude\image7.jpg" alt="">
            </div>
            <div class="slide active">
                <img src="..\assets\images\bureau d'étude\image8.jpg" alt="">
            </div>
            <div class="slider-buttons">
                <button class="prev-btn">&#8249;</button>
                <button class="next-btn">&#8250;</button>
            </div>
        </div>

