
  .menu-bureau {
    position: absolute;
    background-color: #343907;
    z-index: 1; 
    width: 1905px;
    height: 35px;
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  
  .texte-bureau {
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
  }
  
  .titre-bureau {
    margin-top: 75px;
    width: 1905px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    font-size: 40px;
  }
  
  .baniere-bureau {
    position: relative;
    width: 1905px;
    height: 500px;
  }    
  
   /*slider*/

   .slider {
    width: 1500px;
    height: 800px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    margin: 50px 0px 50px 200px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .slider-buttons button {
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
  

  
  