<img class="baniere-espece" src="..\assets\Baniere ECF\baniere nos espece.png" alt="baniere espece">
<h2 class="titre-espece">Nos espèce:</h2>
    <h3 class="titre-giraffes">Les Giraffes</h3>
    <div class="row img-espece">
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-anntarazevich-6796892.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-anntarazevich-6796900.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-charmain-11741001.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-chezas-inspirations-1470562-15452980.jpg" alt="Giraffes">
        </div>
      </div>
      
      <div class="row img-espece">
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-magda-ehlers-pexels-787701.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-tkirkgoz-11848469.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-pixabay-34098.jpg" alt="Giraffes">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="giraffes img-fluid" src="..\assets\images\girafe\pexels-magda-ehlers-pexels-787701.jpg" alt="Giraffes">
        </div>
      </div>
      <h3 class="titre-voliere">La grande Volière</h3>
      <div class="row img-espece">
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-8moments-1181181.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-aashu56781-1098254.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-amolmande-2683940.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-anntarazevich-6796539.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-anntarazevich-6796541.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-anntarazevich-6796546.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-anntarazevich-6796551.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-anntarazevich-6796896.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-antonytrivet-14035108.jpg" alt="Oiseaux">
          </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-creativebin-38994-135940.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-ardit-mbrati-216809103-14592367.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-ashiqs-301048536-13789251.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-bayram-yalcin-86843184-14655073.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-bijoy2459-4964589.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-berkecanavci-15535316.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-harvey-reed-235765-905248.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-pixabay-301655.jpg" alt="Oiseaux">
        </div>
        <div class="col-md-3 col-sm-6">
          <img class="oiseaux img-fluid" src="..\assets\images\oiseaux\pexels-zoosnow-803412-1680214.jpg" alt="Oiseaux">
        </div>
      </div>

      <h3 class="titre-carnivores">Les carnivores</h3>
    <div class="row img-espece">
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-dibert-1301172.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img  class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-magda-ehlers-pexels-789584.jpg" alt="Carnivores">
        </div>
        <div  class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-huanying530-8138356.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-pixabay-33221.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img  class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-toni-5649002.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-toni-5650264.jpg" alt="Carnivores">
        </div>
        <div  class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-toni-5650265.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-lori-glaholm-heron-356636-1617412.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-davidohboy-15578845.jpg" alt="Carnivores">
          </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-meghav-20260773.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-steve-130217-397857.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-sunny67-3749012.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-tkirkgoz-14040311.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-alex-andrews-271121-2295744.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-artyom-kulakov-1190754-2786709.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-ganajp-15533239.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-monicore-134058.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-sunny67-3880184.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-vincent-ma-janssen-15744804.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-vincent-ma-janssen-15744806.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-vincent-ma-janssen-15744808.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-jdgromov-7122755.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-andreas-246992646-14382732.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-itfeelslikefilm-1083502.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-naomi-lacroix-325929402-13806304.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-pixabay-63325.jpg" alt="Carnivores">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="carnivores img-fluid" src="..\assets\images\carnivores\pexels-robert-anthony-carbone-190020-598966.jpg" alt="Carnivores">
        </div>
    </div>
      
        <h3 class="titre-chevaux">Les Chevaux et Gibiers</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\Chevaux.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-inspiredimages-133621.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-juanpphotoandvideo-1120104.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-leon-woods-24405-598752.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-andreas-p-80427-401803.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-pixabay-219906.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-filip-olsok-261056-4003652.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-dion4photo-939473.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-karolina-grabowska-5840805.jpg" alt="Chevaux et Gibiers">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="gibier img-fluid" src="..\assets\images\chevaux et gibier\pexels-pixabay-69058.jpg" alt="Chevaux et Gibiers">
          </div>
        </div>

        
    <h3 class="titre-singes">Les Singes</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-jokassis-5459636.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-jokassis-5459644.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-magda-ehlers-pexels-767232.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-maxmishin-10140614.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-osmany-mederos-211956483-16082499.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-tom-van-dyck-423949093-15578633.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-tarikulraana-2648675.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-rgsk97-844819.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-pixabay-66865.jpg" alt="Les Singes">
        </div>
        <div class="col-md-3 col-sm-6">
        <img class="singes img-fluid" src="..\assets\images\singes\pexels-pixabay-38280.jpg" alt="Les Singes">
        </div>
    </div>

        <h3 class="titre-aquatique">L'Aquatique</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img class="aquatique img-fluid" src="..\assets\images\aquatique\pexels-amineispir-17505823.jpg" alt="Aquatique">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="aquatique img-fluid" src="..\assets\images\aquatique\pexels-magda-ehlers-pexels-2832643.jpg" alt="Aquatique">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="aquatique img-fluid" src="..\assets\images\aquatique\pexels-merve-ekmekci-1145849-2505042.jpg" alt="Aquatique">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="aquatique img-fluid" src="..\assets\images\aquatique\pexels-nguyen-tran-327588-1703516.jpg" alt="Aquatique">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="aquatique img-fluid" src="..\assets\images\aquatique\pexels-valdemaras-d-784301-1700731.jpg" alt="Aquatique">
          </div>
        </div>


            <h3 class="titre-leopard">Les Léopard et guépard</h3>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-evgeniy-zabrodin-76948775-8880328.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-laualessia-20791607.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-pixabay-39857.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-pixabay-51129.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-chris-f-38966-7892693.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-christophe-b-353671055-14525303.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-elina-emeleeva-559640524-17300485.jpg" alt="Léopard et guépard">
              </div>
              <div class="col-md-3 col-sm-6">
                <img class="leopard img-fluid" src="..\assets\images\léopards\pexels-magda-ehlers-pexels-1320606.jpg" alt="Léopard et guépard">
              </div>
            </div>
        

        <h3 class="titre-lions">Les Lions</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <img class="lions img-fluid" src="..\assets\images\Lions\pexels-catherine-harding-wiltshire-35453696-7557608.jpg" alt="Lions">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="lions img-fluid" src="..\assets\images\Lions\pexels-dkeats-2362750.jpg" alt="Lions">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="lions img-fluid" src="..\assets\images\Lions\pexels-magda-ehlers-pexels-5078935.jpg" alt="Lions">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="lions img-fluid" src="..\assets\images\Lions\pexels-marcioskull-15515115.jpg" alt="Lions">
        </div>
        <div class="row">
        <div class="col-md-3 col-sm-6">
            <img class="lions img-fluid" src="..\assets\images\Lions\pexels-pixabay-67216.jpg" alt="Lions">
        </div>
        </div>
    </div>

        <h3 class="titre-reptile">Les Réptile, Tortue et Batracien</h3>
        <div class="row">
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-ashzathukorala-2378855.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-braziltopno-2674122.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-hobiphotography-20394678.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-hobiphotography-20491217.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-muffin-7216695.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-peter-lopez-3895759-7169054.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-tkirkgoz-14680776.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-tom-van-dyck-423949093-15578668.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-ganajp-14512518.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-ganajp-15533232.jpg" alt="Réptile, Tortue et Batracien">
        </div>
        <div class="col-md-3 col-sm-6">
            <img class="reptile img-fluid" src="..\assets\images\Réptile\pexels-steven-paton-38384393-16848028.jpg" alt="Réptile, Tortue et Batracien">
        </div>
    
        <h3 class="titre-rhino">Les Rhinocéros et Eléphant</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-alesiakozik-6128148.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-bruno-gartner-4619681-7272009.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-diego-f-parra-33199-15474751.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-frans-van-heerden-201846-631292.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-magda-ehlers-pexels-6818988.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-freestockpro-1003848.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-theplanetspeaks-12174231.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-magda-ehlers-pexels-6818988.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-tamblu-9543350.jpg" alt="Rhinocéros et Eléphants">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="rhino img-fluid" src="..\assets\images\Eléphants\pexels-theplanetspeaks-12174231.jpg" alt="Rhinocéros et Eléphants">
          </div>
        </div>

        <h3 class="titre-tigres">Les Tigres</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img class="tigres img-fluid" src="..\assets\images\Tigres\pexels-wb2008-2541239.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="tigres img-fluid" src="..\assets\images\Tigres\pexels-karolina-grabowska-5840755.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="tigres img-fluid" src="..\assets\images\Tigres\pexels-rene-wechet-171529563-13845797.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="tigres img-fluid" src="..\assets\images\Tigres\pexels-tkirkgoz-15310001.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="tigres img-fluid" src="..\assets\images\Tigres\pexels-tony-mitch-2311241-12312585.jpg" alt="Tigres">
          </div>
        </div>


        <h3 class="titre-suricats">Les Suricats</h3>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img class="suricats img-fluid" src="..\assets\images\Suricats\pexels-anntarazevich-6796608.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="suricats img-fluid" src="..\assets\images\Suricats\pexels-mikebirdy-97825.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="suricats img-fluid" src="..\assets\images\Suricats\pexels-mographe-15652903.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="suricats img-fluid" src="..\assets\images\Suricats\pexels-ramonkaphotos-12492785.jpg" alt="Tigres">
          </div>
          <div class="col-md-3 col-sm-6">
            <img class="suricats img-fluid" src="..\assets\images\Suricats\Suricats.jpg" alt="Tigres">
          </div>
        </div>

      
      
       