<!--<h2 class="titre-valeurs">Nos valeurs</h2>
<img class="baniere-valeurs"src="..\assets\Baniere ECF\baniere nos valeurs.png" alt="foret amazoniene">
    <div>
        <p class="texte-valeurs">
        Les piliers de notre identité
        Un parc sur-mesure pour des animaux menacés
        Nous présentons en priorité des espèces menacées pour lesquelles nous agissons dans leur pays d’origine. Privilégiant la mixité des espèces, nous leur dédions des espaces naturels XXL et offrons d’immenses espaces de vol pour les oiseaux. D’autre part, au quotidien, nous œuvrons pour le bien-être animal et le respect des comportements naturels. Ici, aucun dressage n’est pratiqué et aucune aile n’est coupée !
        Une exploration grandeur Nature!
        Inspiré par les milieux d’origine des animaux, le zoo d’Arcadia construit une diversité de paysages naturels hors-normes dans le respect du patrimoine local troglodytique. Invitant au voyage, nos présentations animalières avant-gardistes, privilégiant la mixité des espèces, reflètent nos valeurs et notre engagement pour la nature. C’est ainsi que les animaux y vivent à leur rythme pour offrir à nos visiteurs le spectacle de la nature.
        Une visite de qualité respectueuse de l’environnement.
        </p>
    </div>
    <div class="slider" id="slider2">
        <div class="slide active">
            <img src="..\assets\images\valeurs\valeurs1.jpg" alt="">
        </div>
        <div class="slide active">
            <img src="..\assets\images\valeurs\valeurs2.jpg" alt="">
        </div>
        <div class="slide active">
            <img src="..\assets\images\valeurs\valeurs3.jpg" alt="">
        </div>
        <div class="slide active">
            <img src="..\assets\images\valeurs\valeurs4.jpg" alt="">
        </div>
        <div class="slider-buttons">
            <button class="prev-btn">&#8249;</button>
            <button class="next-btn">&#8250;</button>
        </div>
    </div>-->
    