<div class="container-homepage">
    <a routerLink="/home">
        <img class="logo" src="..\assets\logo\logo.jpg" alt="logo du site">
    </a>
<nav class="menu">
    <ul>
        <a routerLink="/espace" class="btn-menu">Notre parc</a>
        <a routerLink="/animaux" class="btn-menu">Les annimaux</a>
        <a routerLink="/infos" class="btn-menu">Info pratique</a>
        <a routerLink="/billetterie" class="btn-menu">Billetterie</a>
        <a routerLink="/service" class="btn-menu">Services</a>
    </ul>
</nav>
