<div class="container-homepage">
    <a routerLink="/home">
        <img class="logo" src="..\assets\logo\logo.jpg" alt="logo du site">
    </a>
<nav class="menu">
    <ul>
        <button routerLink="/espace" class="btn-menu">Notre parc</button>
        <button routerLink="/animaux" class="btn-menu">Les annimaux</button>
        <button routerLink="/infos" class="btn-menu">Info pratique</button>
        <button routerLink="/billetterie" class="btn-menu">Billetterie</button>
        <button routerLink="/service" class="btn-menu">Services</button>
    </ul>
</nav>
