<h2 class="titre-avis">Avis clients</h2>
                <img class="baniere-avis" src="..\assets\Baniere ECF\baniere avis clients.png" alt="Avis clients">
            <div class="avis">
                <div>
                    <p class="avis-client">
                        <span class="C2etoiles"><div></div>
                            <span class="C2etoiles"><div></div>
  
                                <span class="C2etoiles"><div></div>
                              
                                    <span class="C2etoiles"><div></div>
                                
                                        <span class="C2etoiles"><div></div>
                                  
                                            <span class="C2etoiles"><div></div>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        Avis clients 5/5<br>
                        "J'ai emmené ma famille au zoo d’Arcadia le mois dernier et nous avons passé une excellente journée !<br> Les animaux étaient très bien soignés et leurs enclos semblaient spacieux et enrichissants.<br> Le personnel était très sympathique et impliqué dans les présentations des animaux.<br> Nous avons particulièrement apprécié le spectacle des otaries qui était très intéressant et divertissant.<br> Le seul bémol a été la longue file d'attente à l'entrée, mais dans l'ensemble c'était une visite très réussie.<br> Nous y retournerons avec plaisir !"
                   </p>
                   <div class="client">
                        Le 10/05/2024 par Laure.P
                        suite a une visite de 05/05/2024
                   </div>
                </div>
            </div>  
            <div class="avis">
                <div>
                    <p class="avis-client">
                        <span class="C2etoiles"><div></div>
                            <span class="C2etoiles"><div></div>
  
                                <span class="C2etoiles"><div></div>
                              
                                    <span class="C2etoiles"><div></div>
                                
                                        <span class="C2etoiles"><div></div>
                                  
                                            <span class="C2etoiles"><div></div>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        Avis clients 5/5<br>
                        "J'ai visité le zoo d’Arcadia avec mes enfants et nous avons passé une journée très agréable.<br> Les animaux semblaient en bonne santé et leurs enclos étaient propres et adaptés.<br> Le parcours de visite était bien balisé et permettait de voir facilement la plupart des espèces.<br> Le personnel était souriant et disponible pour répondre à nos questions.<br> Nous avons particulièrement aimé le nouvel espace dédié aux pandas qui était très impressionnant.<br> Dans l'ensemble une très bonne expérience !"
                   </p>
                   <div class="client">
                    Le 01/02/2024 par Phillipe. M
                    suite a une visite de 31/01/2024
                   </div>
                </div>
            </div>  
            <div class="avis">
                <div>
                    <p class="avis-client">
                        <span class="C2etoiles"><div></div>
                            <span class="C2etoiles"><div></div>
  
                                <span class="C2etoiles"><div></div>
                              
                                    <span class="C2etoiles"><div></div>
                                
                                        <span class="C2etoiles"><div></div>
                                  
                                            <span class="C2etoiles"><div></div>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        Avis clients 5/5<br>
                        "Le zoo était vraiment impressionnant! J'ai pu voir une grande variété d'animaux, des pandas aux lions en passant par les girafes.<br> Les enclos semblaient spacieux et bien entretenus. Le personnel était très accueillant et donnait de bonnes informations sur les espèces.<br> Seul bémol, la foule était assez importante certains jours, ce qui rendait la visite un peu moins agréable.<br> Mais dans l'ensemble, c'était une excellente expérience et je recommande vivement ce zoo!"
                   </p>
                   <div class="client">
                    Le 11/01/2024 par Hugo.F
                    suite a une visite de 11/01/2024
                   </div>
                </div>
            </div>  
