<h2 class="titre-info">Quand et comment venir</h2>
                    <img class="baniere-info" src="..\assets\Baniere ECF\baniere quand venir.png" alt="Quand et comment venir">
                <div class="info">
                    <p>
                        Voici un descriptif des transports et de l'accès au Zoo d’Arcadia, situé en plein cœur de la forêt de Brocéliande, à Prélan-le-Grand :
                        Situé à environ 200 km à l'ouest de Paris, le Zoo d’Arcadia est facilement accessible depuis les principales villes de l'Ouest de la France.
                        En voiture, il faut compter 2h30 de route depuis Rennes, 3h depuis Nantes et 4h depuis Bordeaux. Vous pourrez rejoindre Prélan-le-Grand par l'autoroute A11 puis emprunter la D767 sur les 30 derniers kilomètres, à travers la forêt. Un parking gratuit est à votre disposition à l'entrée du zoo.
                        En transport en commun, des liaisons en train et bus sont possibles. Depuis la gare de Rennes, vous pourrez prendre un bus direct jusqu'à Prélan-le-Grand (1h30 de trajet). Depuis d'autres villes, il faudra prévoir un changement à Rennes.
                        Une navette gratuite est mise en place depuis la gare de Prélan-le-Grand pour rejoindre l'entrée du zoo, distant de 5 km. Cette navette circule en continu pendant les horaires d'ouverture.
                        Que vous veniez en famille, entre amis ou en couple, le Zoo d’Arcadia saura vous captiver par son cadre naturel exceptionnel, à seulement quelques heures de Paris.
                    </p>
                </div>  
                "<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2668.703187578209!2d-2.174424923583586!3d48.019443971230594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDjCsDAxJzEwLjAiTiAywrAxMCcxOC43Ilc!5e0!3m2!1sfr!2sfr!4v1720175606672!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                <p class="horaire">
                    Lundi au Vendredi : 08H00 à 16H00<br>
                    Samedi et Dimanche : 08H00 à 20H00<br>
                    En 2024, le zoo est ouvert tous les jours<br>du 10 février au 11 novembre,<br> et aux vacances de Noël
                </p>
