.baniere-info {
  position: relative;
  width: 1905px;
  height: 500px;
}    

.menu-info {
  position: absolute;
  background-color: #343907;
  z-index: 1; 
  width: 1905px;
  height: 35px;
  display: block;
  text-align: center;
  margin-top: 150px;
}


.titre-info {
  position: absolute;
  margin-top: 75px;
  margin-left: 720px;
  font-weight: bold;
  font-size: 40px;
}

.info {
  margin-top: 200px;
  text-align: center;
  font-weight: bold;
  width: 1500px;
  margin-left: 200px;
}

.map {
    margin-left: 350px;
  margin-top: 75px;
  width: 1200px;
  height: 800px;
}

.horaire {
  margin-top: 100px;
  margin-left: 600px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 100px;
  }
