<img class="baniere-espace" src="..\assets\Baniere ECF\baniere nos espaces.png" alt="baniere espace">
<h2 class="titre-espace">Nos espace :</h2>
    <p class="texte-espace">
        Vivez des rencontres riches en émotions !
        Notre site troglodytique recèle de vastes espaces offrant des conditions de vie exceptionnelles aux animaux rares et menacés. Dans des zones évocatrices de leurs écosystèmes d’origine,
        vous serez immergé parmi les animaux qui y cohabitent. Prenez le temps de les observer et vous serez ainsi récompensé par leurs comportements
    </p>

    <div class="container">
        <div class="row img-espace1">
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Giraffes.gif" alt="Espace Giraffes">
            <p class="icon">Giraffes</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Grande vollière.jpg" alt="Grande vollière">
            <p class="icon">Grande Volière</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Carnivores.jpg" alt="Carnivores">
            <p class="icon">Carnivores</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Chevaux.jpg" alt="Chevaux et gibiers">
            <p class="icon">Chevaux et gibiers</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Singes.jpg" alt="Singes">
            <p class="icon">Singes</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Aquatique.jpg" alt="Aquatique">
            <p class="icon">Aquatique</p>
          </div>
        </div>
        
        <div class="row espace2">
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Léopards.jpg" alt="Léopards">
            <p class="icon">Léopard</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Lions.jpg" alt="Lions">
            <p class="icon">Lions</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Tortues.jpg" alt="Tortues et Réptiles">
            <p class="icon">Tortues et Réptiles</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Rhinocéros.jpg" alt="Rhinocéros et Eléphants">
            <p class="icon">Rhinocéros et Eléphants</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Tigres.jpg" alt="Tigres">
            <p class="icon">Tigres</p>
          </div>
          <div class="col-md-2">
            <img class="animaux" src="../assets/images/nos espaces/Suricats.jpg" alt="Suricats">
            <p class="icon">Suricats</p>
          </div>
        </div>
      </div>