<!--<div>
    <p class="presentation">Bienvenue au Zoo d’Arcadia
        En plein cœur de la foret Brocéliande en Bretagne depuis 1960, plus de 1900 animaux ont trouvé a Arcadia un cadre naturel exceptionnel, consacré à la protection <br>
        des espèces menacées. Creusés dans la roche, nos tunnels vous feront passer d’un monde à l’autre ! Découvrez sur ce site des contenus sur les espèces du parc, nos informations pratiques et d'accès, <br> ainsi qu'un service de billetterie en ligne.
    </p>
    <img class="baniere-homepage" src="..\assets\Baniere ECF\Baniere titre.png" alt="baniere homepage">
</div>   
<h1>Notre identité</h1>
<div class="identite">
<div><img class="nos-valeurs" src="..\assets\images\notre identité\pexels-8moments-1181181.jpg" alt="Flament rose">
    <p class="icon">Nos valeurs</p>
</div>
 <div><img class="annimaux" src="..\assets\images\notre identité\pexels-adi-k-182036-15705350.jpg" alt="Panda roux">
    <p class="icon">1900 annimaux</p>
</div>
<div><img class="Nos-action-pour-la-nature" src="..\assets\images\notre identité\pexels-emel-ukav-55235060-16854690.jpg" alt="Papillon">
    <p class="icon">Nos action pour la nature</p>
</div>
<div><img class="Nos-éspaces" src="..\assets\images\notre identité\pexels-sunny67-12248888.jpg" alt="Enclos a Rhinocéroce">
    <p class="icon">Nos éspaces</p> 
</div>   
</div>-->
